<div class="jumbotron">
  <div class="left">
    <%= t('jumbotron_plumbingtitle_html') %>
  
 </div>
 </div>
 <br>

<%= render 'form' %>

<%= link_to 'Show', @plumbing %> |
<%= link_to t('back'), plumbings_path %>
