<div class="jumbotron">
  <div class="left">
    <%= t('jumbotron_missingservicestitle_html') %>
  
 </div>
 </div>
 <br>

<%= render 'form' %>

<%= link_to 'Show', @service, class: "btn btn-link" %> |
<%= link_to t('back'), services_path, class: "btn btn-link" %>
