<div class="jumbotron">
  <div class="left">
    <%= t('jumbotron_windowtitle_html') %>
  
 </div>
 </div>
 <br>

<%= render 'form' %>

<%= link_to 'Show', @window %> |
<%= link_to t('back'), windows_path %>
