<h1>Editing Commercial Properties Listing</h1>

<%= render 'form' %>

<%= link_to 'Show', @commercialpropertiesforsale, class: "btn btn-link" %> |
<%= link_to 'Back', commercialpropertiesforsales_path, class: "btn btn-link" %>
