 <div class="jumbotron">
 	<div class="left">
 	<h2>New Commercial Property Listing</h2>
 </div>
 </div>
  <br>
<%= render 'form' %>
 <div class="left">
<%= link_to 'Back', commercialpropertiesforsales_path %>
 </div>