<div class="jumbotron">
  <div class="left">
    <%= t('jumbotron_propertymanagetitle_html') %>
  
 </div>
 </div>
 <br>

<%= render 'form' %>

<%= link_to 'Show', @propertymanagementfirm %> |
<%= link_to t('back'), propertymanagementfirms_path %>
