<div class="jumbotron">
  <div class="left">
    <%= t('jumbotron_accountantstitle_html') %>
  
 </div>
 </div>

<%= render 'form' %>

<%= link_to t('back'), accountants_path, class: "btn btn-link" %>
