  <div class="jumbotron">
  <div class="left">
    <%= t('jumbotron_airconditionertitle_html') %>
  
 </div>
 </div>
<br>
<br>

<%= render 'form' %>

<%= ink_to t('back'), airconditioners_path, class: "btn btn-link" %>
