 <div class="jumbotron">
  <div class="left">
 </div>
 </div>

 <div class="row" id="featuresHeading">
    <div class="col-12">
    	<%= t('privacy_html') %>
        
        <p class="lead"></p>
    </div>
</div>
<div class="left">
	
<body>
D&G Global (“D&G Global”) takes your privacy very seriously. We ask that you read this privacy policy (the “Policy”) carefully as it contains important information about what to expect when D&G Global collects personal information about you and how D&G Global will use your personal data.<br>
This Policy applies to information we collect on www.floridasonly.com/privacypolicy and its sub-domains about:<br>
1.- Visitors to our website (the “Site”); and<br>
2.- People who register their emails with us.
<br>
<p>
	<h4><strong>INFORMATION COLLECTED FROM ALL VISITORS TO OUR WEBSITE</strong></h4>

We will obtain personal data about you when you visit us. When you visit us, we may monitor the use of this Site through the use of cookies and similar tracking devices. For example, we may monitor the number of times you visit our Site or which pages you go to. This information helps us to build a profile of our users. Some of this data will be aggregated or statistical, which means that we will not be able to identify you individually. Please see further the section on “Our Use of Cookies” below.
<br>

<h4><strong>INFORMATION COLLECTED FROM USERS WHO REGISTER THEIR EMAILS WITH US</strong></h4>

When you register your emails with us, we may use it for the following:
will send you weekly newsletters, contact you about products and services we think may be of interest to you.
We help you to advertise your business montly according to the subscription you choose with us to help you to increse your customers.

If you agree to us providing you with these information, you can always opt out at a later date. If you would rather not receive these information, please send a blank email message to customers@ontariosonly.ca.

By submitting your email you consent to the use of that email as set out in this policy.
<br>

<h4><strong>OUR USE OF COOKIES</strong></h4>

Cookies are text files placed on your computer to collect standard Internet log information and visitor behaviour information. The information is used to track visitor use of the Site and to compile statistical reports on Site activity. For further information about cookies visit www.aboutcookies.org or www.allaboutcookies.org. You can set your browser not to accept cookies and the above websites tell you how to remove cookies from your browser. However, in a few cases some of our Site features may not function if you remove cookies from your browser.
<br>

<h4><strong>HOW WE PROTECT YOUR INFORMATION</strong></h4>

We are committed to maintaining the security of personal information. We have put in place appropriate security procedures and technical and organisational measures to safeguard your personal information such as stripe payment method with pci certification, firewalls, passwords encryption.
<br>

<h4><strong>ACCESS TO YOUR INFORMATION AND UPDATING AND CORRECTING YOUR INFORMATION</strong></h4>

Subject to the exceptions referred to in section 21(2) of the Personal Data Protection Act 2012 (No. 26 of 2012) of United States of America (“PDPA”), you have the right to request a copy of the information that we hold about you. If you would like a copy of some or all of your personal information, please send an email to [email address and link] or send a letter to [name and address]. We may make a small charge for this service.

We want to ensure that your personal information is accurate and up to date. If any of the information that you have provided to D&G Global changes, for example if you change your email address, name or payment details, or if you wish to cancel your registration, please let us know the correct details by sending an email to customers@ontariosonly.ca or by sending a letter to D&G Global at 4855 Magnolia Cove Dr Suite 432, Houston Texas U.S. 77345. You may ask us, or we may ask you, to correct information you or we think is inaccurate, and you may also ask us to remove information which is inaccurate.
<br>

<h4><strong>NON-DISCLOSURE</strong></h4>

We do not sell, trade, or otherwise transfer to third parties your personally identifiable information.  This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, as long as these parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours and others’ rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
<br>

<h4><strong>LINKS TO OTHER WEBSITES</strong></h4>

Our Site may contains links to other websites. This privacy policy only applies to this website so when you link to other websites you should read their own privacy policies.
<br>

<h4><strong>SALE OF BUSINESS</strong></h4>

If D&G Global’s business is sold or integrated with another business your details may be disclosed to our advisers and any prospective purchasers and their advisers and will be passed on to the new owners of the business.
<br>

<h4><strong>CHANGES TO PRIVACY POLICY</strong></h4>

We keep our privacy policy under regular review. If we change our privacy policy we will post the changes on this page, and place notices on other pages of the Site, so that you may be aware of the information we collect and how we use it at all times. This privacy policy was last updated on 20th day of December 2014.
<br>

<h4><strong>HOW TO CONTACT US</strong></h4>

We welcome your views about our Site and our privacy policy. If you would like to contact us with any queries or comments please send an email to customers@ontariosonly.ca or send a letter to D&G Global at 4855 Magnolia Cove Dr Suite 432, Houston Texas U.S. 77345.
<br>

</p>	
</body>
</div>