<h1>Editing Florida's Only Subscription Packages</h1>

<%= render 'form' %>

<%= link_to 'Show', @subscriptionpackage, class: "btn btn-link" %> |
<%= link_to 'Back', subscriptionpackages_path, class: "btn btn-link" %>
