<div class="jumbotron">
  <div class="left">
    <%= t('jumbotron_septictitle_html') %>
  
 </div>
 </div>
 <br>

<%= render 'form' %>

<%= link_to 'Show', @septic %> |
<%= link_to t('back'), septics_path %>
