<div class="jumbotron">
  <div class="left">
    <%= t('jumbotron_rentalpropertytitle_html') %>
  
 </div>
 </div>
 <br>

<%= render 'form' %>

<%= link_to 'Show', @rentalproperty %> |
<%= link_to t('back'), rentalproperties_path %>
