<div class="jumbotron">
  <div class="left">
    <%= t('jumbotron_taxestitle_html') %>
  
 </div>
 </div>
 <br>

<%= render 'form' %>

<%= link_to 'Show', @taxspecialist %> |
<%= link_to t('back'), taxspecialists_path %>
