<div class="jumbotron">
  <div class="left">
    <%= t('jumbotron_securitytitle_html') %>
  
 </div>
 </div>
 <br>

<%= render 'form' %>

<%= link_to 'Show', @security %> |
<%= link_to t('back'), securities_path %>
