<div class="jumbotron">
  <div class="left">
    <%= t('jumbotron_countertoptitle_html') %>
  
 </div>
 </div>

<%= render 'form' %>

<%= link_to 'Show', @countertop %> |
<%= link_to t('back'), countertops_path %>
