<div class="jumbotron">
  <div class="left">
    <%= t('jumbotron_movingtitle_html') %>
  
 </div>
 </div>
 <br>

<%= render 'form' %>

<%= link_to 'Show', @movingcompany %> |
<%= link_to t('back'), movingcompanies_path %>
