.left
{
	text-align: left;
}
.jumbotron{

	background-image: url(http://i58.tinypic.com/23h546e.jpg);
	height: 170px;
	background-repeat: no-repeat;
	margin: 0px;
	background-position:center;
	h2 {
	color: #ff0019;
	text-shadow: 0px 2px 3px #555;
	margin-top: 0.2cm;
	}
	h3 {
	color: #ff0019;
	text-shadow: 0px 2px 3px #555;
	margin-top: -0.3cm;
	}
}
