<div class="jumbotron">
  <div class="left">
    <%= t('jumbotron_landscapingtitle_html') %>
  
 </div>
 </div>

<%= render 'form' %>

<%= link_to 'Show', @landscaping %> |
<%= link_to t('back'), landscapings_path %>
